<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.all.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.min.css " rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{%static 'css/login.css' %}">
</head>

<body>

    <div class="login-box">
        <form method="post" id="login-form">
            {%csrf_token%}
            <h2>Iniciar Sesion</h2>
            <div class="input-box">
                <span class="icon">
                    <i class="bi bi-person-fill"></i>
                </span>
                <input type="text" name="username" required>
                <label>Username</label>
                <div class="input-line"></div>
            </div>
            <div class="input-box">
                <span class="icon">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input type="password" name="password" required>
                <label>Password</label>
                <div class="input-line"></div>
                {%if form.non_field_errors%}
                <script>
                    Swal.fire({
                        title: 'Datos incorrectos',
                        text: 'Vuelva a intentar',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                </script>
                {%endif%}
            </div>
            
            <button type="submit" value="Login">Login</button>
        </form>
    </div>
</body>
</html>

