{%extends 'Hotel/base.html' %}

{%block content%}
<div class="container">
<h2>My Profile</h2>
<div class="d-flex">
    <div class="me-4 col-md-8 pe-2">
        <form id = "profile-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-warning" value="Update">
            <a href="{% url 'home' %}" class="btn btn-dark">Back</a>
        </form>

    </div>
    <div class="card" style="width: 18rem;">
        {% if request.user.avatar %}
        <img src="{{ request.user.avatar.url }}" class="card-img-top" alt="...">
        {% else %}
        {% load static %}
        <img src="{% static 'img/profile.webp' %}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ request.user.name }} {{ request.user.last_name }}</h5>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    document.getElementById("profile-form").addEventListener("submit", function(event){
    event.preventDefault();
    var formData = new FormData(this);
    $.ajax({
        url: "{% url 'profile' %}",
        type: "post",
        data: formData,
        processData: false,   
        contentType: false,   
        success: function(data){
            Swal.fire({
                title: "Perfil actualizado correctamente",
                icon: "success"
            }).then(function(){
                window.location.href = "{% url 'home' %}";
            });
        },
        error: function(data){
            console.log("Error:", data);
        }
    });
});

</script>



{%endblock%}