{% extends 'Hotel/base.html' %}

{% load static %}
{% block extra_styles %}
<link href="{%  static 'css/adicional.css' %}" rel="stylesheet" type="text/css">


{% endblock %}
{% block content %}
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Gestion Habitaciones</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nro Habitacion</th>
                            <th>Tipo Habitacion</th>
                            <th>Estado de la habitacion</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody id="clientTableBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar Estado</h1>
                    
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <select id="nuevoEstado" class="form-select">
                            <option value="" disabled>Seleccione el estado de la habitación</option>
                            <option value="Disponible">Disponible</option>
                            <option value="Ocupada">Ocupada</option>
                            <option value="Limpieza">En Limpieza</option>
                        </select>                                    
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="cerrar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="modifyBtn">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Client Registration Form -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Registrar Habitacion</h6>
        </div>
        <div class="card-body">
            <form id="clientForm">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="nroHabitacion">Nro Habitacion:</label>
                        <input type="text" class="form-control input" id="nroHabitacion" placeholder="Nro Habitacion">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="tipoHabitacion">Tipo habitacion:</label>
                        <select id="tipoHabitacion" class="form-select ">
                            <option value="" disabled>Seleccione el tipo de habitación</option>
                            <option value="Simple">Simple</option>
                            <option value="Doble">Doble</option>
                            <option value="Triple">Triple</option>
                            <option value="Matrimonial">Matrimonial</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="estadoHab">Estado habitacion:</label>
                        <select id="estadoHab" class="form-select">
                            <option value="" disabled>Seleccione el estado de la habitación</option>
                            <option value="Disponible">Disponible</option>
                            <option value="Ocupada">Ocupada</option>
                            <option value="Limpieza">En Limpieza</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="precioHab">Precio Habitacion:</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>   
                            <input type="text" class="form-control input" id="precioHab" placeholder="Precio Habitacion">                  
                        </div>
                    </div>
                    
                </div>
                <div class="botones">
                    <button class="btn btn-success" id="addHab"><i class="fa-solid fa-user-plus"></i>Agregar Habitacion</button>
                    <button class="btn btn-danger" id="borrarHab"><i class="fa-solid fa-user-minus"></i> Eliminar habitacion</button>
                    <button class="btn btn-warning" type="button" id="actualizarHab" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i> Actualizar estado</button>
                </div>
            </form>
        </div>
    </div>



{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/js_hab/crud_habs.js' %}"></script>
{%endblock%}