{% extends 'Hotel/base.html' %}

{% load static %}
{% block extra_styles %}
<link href="{%static 'css/adicional.css'%}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Gestion clientes</h6>
            <a class="btn btn-success" href="{% url 'client_create' %}"><i class="fa-solid fa-user-plus"></i>Agregar cliente</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="ticket-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Encargado</th>
                            <th>Nro Documento</th>
                            <th>Tipo Documento</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in clients %}
                        <tr>
                            <td>
                                {{user.name}}{{user.username}}
                            </td>
                            <td>
                                {{c.numero_documento}}
                            </td>
                            <td>
                                {{c.tipo_documento}}
                            </td>
                            <td>
                                {{c.nombre}}
                            </td>
                            <td>
                                {{c.apellido}}
                            </td>
                            <td>
                                {{c.telefono}}
                            </td>
                            <td>
                                {{c.correo}}
                            </td>
                            <td>
                                <a class="btn btn-info me-2" href="#">
                                    <i class="bi bi-search"></i>
                                </a>
                                <button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#updateModal{{ c.id }}"><i class="fa-solid fa-pen-to-square"></i></button>
                                <a class="btn btn-danger me-2" href="#" id="DeleteBtn"><i class="fa-solid fa-user-minus"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    
    <!-- Client Registration Form -->
    
<script>
    $(document).ready(function () {
        $('#ticket-table').DataTable();
    });
</script>

{% endblock %}