{% extends 'Hotel/base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Reporte habitaciones </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="ticket-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Numero de habitacion ocupada</th>
                            <th>Encargado</th>
                            <th>Telefono</th>
                            <th>Tipo de habitacion</th>
                            <th>Precio por noche</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for hab in habitaciones%}
                        <tr>
                            <td>
                                {{hab.habitaciones.numero_habitacion}}
                            </td>
                            <td>
                                {{hab.cliente.nombre}} {{hab.cliente.apellido}}
                            </td>
                            <td>
                                +56{{hab.cliente.telefono}}
                            </td>
                            <td>
                                {{hab.habitaciones.tipo_habitacion}}
                            </td>
                            <td>
                                ${{hab.habitaciones.precio_habitacion}}
                            </td>

                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
    $('#ticket-table').DataTable();
});

</script>
{%endblock%}