{% extends 'Hotel/base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Reporte Clientes </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="ticket-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Numero de habitacion reservada</th>
                            <th>Fechas de reserva</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for client in clients%}
                        {%if client.habitaciones.estado_habitacion == 'OCUPADA'%}
                        <tr>
                            <td>
                                {{client.cliente.nombre}} {{client.cliente.apellido}}
                            </td>
                            <td>
                                {{client.habitaciones.numero_habitacion}}
                            </td>
                            <td>
                                {{client.FechaEntrada}} - {{client.FechaSalida}}
                            </td>
                        </tr>
                        {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
    $('#ticket-table').DataTable();
});

</script>
{% endblock %}
